NODEFLOW.txt
[{"id":"abae7176.54519","type":"ibmiot in","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-endpoint","eventType":"observation","commandType":"","format":"json","name":"connector-bridge source (observations)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":179,"y":58,"wires":[["9d25ff9a.62da","a58036cf.5a7fc8","12801bfe.96a914"]]},{"id":"9d25ff9a.62da","type":"debug","z":"ca2db7dc.35d248","name":"","active":true,"console":"false","complete":"payload.d.value","x":902.9524154663086,"y":60.85714530944824,"wires":[]},{"id":"3b3360d3.c4cca","type":"switch","z":"ca2db7dc.35d248","name":"Is Value Even or Odd?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":336,"y":129,"wires":[["bbb64c1.f4449b"],["69bc6bae.964394"]]},{"id":"a221e915.5dde18","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink (PUT CMD)","service":"registered","x":944,"y":184,"wires":[]},{"id":"69bc6bae.964394","type":"template","z":"ca2db7dc.35d248","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":599.8888549804688,"y":154.55555725097656,"wires":[["a221e915.5dde18","4744d1e2.2634c","934d6359.0887d"]]},{"id":"bbb64c1.f4449b","type":"template","z":"ca2db7dc.35d248","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":599.6666870117188,"y":104,"wires":[["a221e915.5dde18","4744d1e2.2634c"]]},{"id":"a58036cf.5a7fc8","type":"function","z":"ca2db7dc.35d248","name":"Even Value Calc","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var check = parseInt(msg.payload.d.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":123.77777862548828,"y":166.333327293396,"wires":[["6cff4284.9300bc","3b3360d3.c4cca"]]},{"id":"6cff4284.9300bc","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"payload","x":304.8888816833496,"y":202.77777671813965,"wires":[]},{"id":"4744d1e2.2634c","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"false","x":874.1428337097168,"y":130.99999618530273,"wires":[]},{"id":"a150d80c.f138d8","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"get","format":"json","data":"0","name":"connector-bridge sink (GET CMD)","service":"registered","x":944,"y":232,"wires":[]},{"id":"934d6359.0887d","type":"template","z":"ca2db7dc.35d248","name":"Request TEMP Resource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/303/0/5700\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"get\" }","x":643,"y":232,"wires":[["a150d80c.f138d8"]]},{"id":"7d64eec4.f8d69","type":"ibmiot in","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-endpoint","eventType":"cmd-response","commandType":"","format":"json","name":"connector-bridge source (CMD Response)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":203.11109161376953,"y":571.5555591583252,"wires":[["10a3512a.00bdaf","b5c707ed.70d1b8"]]},{"id":"10a3512a.00bdaf","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"payload.d","x":892.0793533325195,"y":571.4444484710693,"wires":[]},{"id":"12801bfe.96a914","type":"function","z":"ca2db7dc.35d248","name":"Get Counter Value","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var value = parseInt(msg.payload.d.value);\n    return {payload:value}\n}\nreturn {payload:-1}","outputs":1,"noerr":0,"x":151,"y":285,"wires":[["76628d2.1817c74","eb881315.937b6","1a8b4dfa.767422"]]},{"id":"76628d2.1817c74","type":"switch","z":"ca2db7dc.35d248","name":"Is Value greater than 22?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","outputs":1,"x":397,"y":378,"wires":[["72f4b943.a767d8","f9bd9f98.d4721"]]},{"id":"72f4b943.a767d8","type":"template","z":"ca2db7dc.35d248","name":"Reset Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":619,"y":378,"wires":[["a221e915.5dde18"]]},{"id":"eb881315.937b6","type":"switch","z":"ca2db7dc.35d248","name":"Is Value 10?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":356,"y":334,"wires":[["32f33be9.0a9f24"]]},{"id":"32f33be9.0a9f24","type":"template","z":"ca2db7dc.35d248","name":"Add 10 to Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"10\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":624.4443969726562,"y":333.888916015625,"wires":[["62ea81e6.b15eb"]]},{"id":"1a8b4dfa.767422","type":"switch","z":"ca2db7dc.35d248","name":"Is Value 5?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":354,"y":285,"wires":[["dc349566.444258"]]},{"id":"dc349566.444258","type":"template","z":"ca2db7dc.35d248","name":"Set Counter to 8","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"8\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":615.6666870117188,"y":285.1111145019531,"wires":[["a221e915.5dde18"]]},{"id":"62ea81e6.b15eb","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"post","format":"json","data":"0","name":"connector-bridge sink (POST CMD)","service":"registered","x":948,"y":442,"wires":[]},{"id":"f9bd9f98.d4721","type":"template","z":"ca2db7dc.35d248","name":"DeRegister Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/86\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":630,"y":452,"wires":[["62ea81e6.b15eb"]]},{"id":"8bfb5053.8a0df","type":"template","z":"ca2db7dc.35d248","name":"Reboot Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/7\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":621,"y":493,"wires":[["62ea81e6.b15eb"]]},{"id":"432a27e7.ed2a98","type":"template","z":"ca2db7dc.35d248","name":"Reset Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/8\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":612,"y":530,"wires":[["62ea81e6.b15eb"]]},{"id":"a6ec987.c897168","type":"template","z":"ca2db7dc.35d248","name":"Invoke FOTA","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/777\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":609,"y":615,"wires":[["62ea81e6.b15eb"]]},{"id":"b5c707ed.70d1b8","type":"switch","z":"ca2db7dc.35d248","name":"FOTA Manifest set Response?","property":"payload.d.path","propertyType":"msg","rules":[{"t":"eq","v":"/3/0/777","vt":"str"}],"checkall":"true","outputs":1,"x":352,"y":615,"wires":[["a6ec987.c897168"]]},{"id":"aec2b446.5c3b38","type":"template","z":"ca2db7dc.35d248","name":"Set FOTA Manifest","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/777\", \"new_value\":\"{\\\"key\\\":\\\"123\\\",\\\"sig\\\":\\\"456\\\",\\\"image\\\":\\\"fw.bin\\\"}\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":629,"y":415,"wires":[["a221e915.5dde18"]]}]
