NODEFLOW.txt
[{"id":"abae7176.54519","type":"ibmiot in","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-example","eventType":"observation","commandType":"","format":"json","name":"connector-bridge source (observations)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":179,"y":58,"wires":[["9d25ff9a.62da","a58036cf.5a7fc8","12801bfe.96a914"]]},{"id":"9d25ff9a.62da","type":"debug","z":"ca2db7dc.35d248","name":"","active":true,"console":"false","complete":"payload.d.value","x":570.6666564941406,"y":58.00000190734863,"wires":[]},{"id":"3b3360d3.c4cca","type":"switch","z":"ca2db7dc.35d248","name":"Is Value Even or Odd?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":336,"y":129,"wires":[["bbb64c1.f4449b"],["69bc6bae.964394"]]},{"id":"a221e915.5dde18","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-example","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink (LED PUT CMD)","service":"registered","x":852,"y":126,"wires":[]},{"id":"69bc6bae.964394","type":"template","z":"ca2db7dc.35d248","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\" }","x":526.8888702392578,"y":156.55555248260498,"wires":[["a221e915.5dde18","4744d1e2.2634c","934d6359.0887d"]]},{"id":"bbb64c1.f4449b","type":"template","z":"ca2db7dc.35d248","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\" }","x":527.6666793823242,"y":107,"wires":[["a221e915.5dde18","4744d1e2.2634c"]]},{"id":"a58036cf.5a7fc8","type":"function","z":"ca2db7dc.35d248","name":"Even Value Calc","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var check = parseInt(msg.payload.d.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":123.77777862548828,"y":166.333327293396,"wires":[["6cff4284.9300bc","3b3360d3.c4cca"]]},{"id":"6cff4284.9300bc","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"payload","x":304.8888816833496,"y":202.77777671813965,"wires":[]},{"id":"4744d1e2.2634c","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"false","x":774,"y":175,"wires":[]},{"id":"a150d80c.f138d8","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-example","eventCommandType":"get","format":"json","data":"0","name":"connector-bridge sink (GET CMD)","service":"registered","x":847,"y":231,"wires":[]},{"id":"934d6359.0887d","type":"template","z":"ca2db7dc.35d248","name":"Request TEMP Resource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/303/0/5700\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"get\" }","x":573,"y":231,"wires":[["a150d80c.f138d8"]]},{"id":"7d64eec4.f8d69","type":"ibmiot in","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-example","eventType":"cmd-response","commandType":"","format":"json","name":"connector-bridge source (GET CMD Response)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":201.11109161376953,"y":437.55553245544434,"wires":[["10a3512a.00bdaf"]]},{"id":"10a3512a.00bdaf","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"payload.d.value","x":564.2222290039062,"y":437.44443130493164,"wires":[]},{"id":"12801bfe.96a914","type":"function","z":"ca2db7dc.35d248","name":"Get Counter Value","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var value = parseInt(msg.payload.d.value);\n    return {payload:value}\n}\nreturn {payload:-1}","outputs":1,"noerr":0,"x":172,"y":284,"wires":[["76628d2.1817c74","eb881315.937b6","1a8b4dfa.767422"]]},{"id":"76628d2.1817c74","type":"switch","z":"ca2db7dc.35d248","name":"Is Value greater than 22?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","outputs":1,"x":441,"y":383,"wires":[["72f4b943.a767d8"]]},{"id":"72f4b943.a767d8","type":"template","z":"ca2db7dc.35d248","name":"Reset Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":664,"y":383,"wires":[["6ad22900.1950f8"]]},{"id":"eb881315.937b6","type":"switch","z":"ca2db7dc.35d248","name":"Is Value 10?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":402,"y":333,"wires":[["32f33be9.0a9f24"]]},{"id":"c267bb7.7c78048","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-example","eventCommandType":"post","format":"json","data":"0","name":"connector-bridge sink (POST CMD)","service":"registered","x":923.7778015136719,"y":332.8888931274414,"wires":[]},{"id":"32f33be9.0a9f24","type":"template","z":"ca2db7dc.35d248","name":"Add 10 to Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":671.4444122314453,"y":332.8889093399048,"wires":[["c267bb7.7c78048"]]},{"id":"1a8b4dfa.767422","type":"switch","z":"ca2db7dc.35d248","name":"Is Value 5?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":400,"y":284,"wires":[["dc349566.444258"]]},{"id":"8eaeefd4.96da4","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-example","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink (PUT CMD)","service":"registered","x":923.2222137451172,"y":284.1111125946045,"wires":[]},{"id":"dc349566.444258","type":"template","z":"ca2db7dc.35d248","name":"Set Counter to 8","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"8\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":663.6666793823242,"y":284.1111259460449,"wires":[["8eaeefd4.96da4"]]},{"id":"6ad22900.1950f8","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-example","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink (PUT CMD)","service":"registered","x":923.5555648803711,"y":382.6666965484619,"wires":[]}]
