NODEFLOW.txt
[{"id":"abae7176.54519","type":"ibmiot in","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbedDevice","eventType":"+","commandType":"","format":"json","name":"connector-bridge source","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":135,"y":76,"wires":[["9d25ff9a.62da","a58036cf.5a7fc8"]]},{"id":"9d25ff9a.62da","type":"debug","z":"ca2db7dc.35d248","name":"","active":true,"console":"false","complete":"payload.d.value","x":476,"y":75,"wires":[]},{"id":"3b3360d3.c4cca","type":"switch","z":"ca2db7dc.35d248","name":"Is Value Even or Odd?","property":"payload","rules":[{"t":"eq","v":"2"},{"t":"eq","v":"1"}],"checkall":"true","outputs":2,"x":339,"y":184,"wires":[["bbb64c1.f4449b"],["69bc6bae.964394"]]},{"id":"a221e915.5dde18","type":"ibmiot out","z":"ca2db7dc.35d248","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbedDevice","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink","service":"registered","x":718,"y":178,"wires":[]},{"id":"69bc6bae.964394","type":"template","z":"ca2db7dc.35d248","name":"LED OFF","field":"payload","format":"json","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\" }","x":521,"y":226,"wires":[["a221e915.5dde18"]]},{"id":"bbb64c1.f4449b","type":"template","z":"ca2db7dc.35d248","name":"LED ON","field":"payload","format":"json","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\" }","x":524,"y":142,"wires":[["a221e915.5dde18"]]},{"id":"a58036cf.5a7fc8","type":"function","z":"ca2db7dc.35d248","name":"Even Value Calc","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var check = parseInt(msg.payload.d.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":129,"y":241,"wires":[["6cff4284.9300bc","3b3360d3.c4cca"]]},{"id":"6cff4284.9300bc","type":"debug","z":"ca2db7dc.35d248","name":"","active":false,"console":"false","complete":"payload","x":311,"y":295,"wires":[]}]
